* {
	background-color: #f9f4f4;
}

h1 {
	font-family: 'Cinzel', sans-serif;
	text-align: center;
	padding-top: 20px;
}

.nav {
	padding-top: 6.5%;
	text-align: center;
	word-spacing: 30px;
}

.nav a {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: black;
	display:inline;
	text-decoration: none;
	caption-side: bottom;
}
